* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.AppContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a3cae4), to(#6b828f));
  background-image: linear-gradient(#a3cae4, #6b828f);
}

.AppContainer .weather {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -1px 2px 25px 4px rgba(0, 0, 0, 0.37);
  box-shadow: -1px 2px 25px 4px rgba(0, 0, 0, 0.37);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.AppContainer .weather .feedContainer {
  padding: 40px;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  height: 40vh;
}

.AppContainer .weather .feedContainer .logo {
  font-size: 24px;
  color: white;
}

.AppContainer .weather .feedContainer .weatherBottom {
  margin-top: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.AppContainer .weather .feedContainer .weatherBottom .weatherDegree {
  font-size: 80px;
  margin-left: 40px;
  margin-right: 50px;
  position: relative;
}

.AppContainer .weather .feedContainer .weatherBottom .weatherDegree span {
  position: absolute;
  top: 15px;
  width: 10px;
  height: 10px;
  border: 3px solid #fff;
  border-radius: 50%;
}

.AppContainer .weather .feedContainer .weatherBottom .weatherInfo {
  text-align: center;
  margin-right: 50px;
}

.AppContainer .weather .feedContainer .weatherBottom .weatherInfo .weatherCity {
  font-size: 52px;
}

.AppContainer .weather .feedContainer .weatherBottom .weatherInfo .weatherTime {
  font-weight: 300;
}

.AppContainer .weather .feedContainer .weatherBottom .weatherCondition {
  margin-top: 20px;
  margin-right: 40px;
  display: inline-block;
  text-align: center;
}

.AppContainer .weather .feedContainer .weatherBottom .weatherCondition .weatherConditionText {
  font-weight: 300;
}

.AppContainer .weather .rightbarContainer {
  height: 40vh;
  padding: 40px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background-color: rgba(212, 212, 212, 0.322);
}

.AppContainer .weather .rightbarContainer hr {
  width: 100%;
  border: none;
  height: 1px;
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0.418);
}

.AppContainer .weather .rightbarContainer .rightbarSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}

.AppContainer .weather .rightbarContainer .rightbarSearch .search {
  width: 70%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #111;
  background: inherit;
  font-size: 20px;
  color: #111;
}

.AppContainer .weather .rightbarContainer .rightbarSearch .search::-webkit-input-placeholder {
  padding-left: 5px;
  color: rgba(255, 255, 255, 0.294);
}

.AppContainer .weather .rightbarContainer .rightbarSearch .search:-ms-input-placeholder {
  padding-left: 5px;
  color: rgba(255, 255, 255, 0.294);
}

.AppContainer .weather .rightbarContainer .rightbarSearch .search::-ms-input-placeholder {
  padding-left: 5px;
  color: rgba(255, 255, 255, 0.294);
}

.AppContainer .weather .rightbarContainer .rightbarSearch .search::placeholder {
  padding-left: 5px;
  color: rgba(255, 255, 255, 0.294);
}

.AppContainer .weather .rightbarContainer .rightbarSearch .search:focus {
  outline: none;
}

.AppContainer .weather .rightbarContainer .rightbarSearch .searchIcon {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  padding: 20px;
  color: #fff;
  background-color: #36abb6;
  cursor: pointer;
}

.AppContainer .weather .rightbarContainer .rightbarList {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AppContainer .weather .rightbarContainer .rightbarList .rightbarItem {
  margin: 5px;
  color: #111;
  cursor: pointer;
}

.AppContainer .weather .rightbarContainer .rightbarList .rightbarItem:hover, .AppContainer .weather .rightbarContainer .rightbarList .rightbarItem:focus {
  color: #f1f1f1;
}

.AppContainer .weather .rightbarContainer .details .detail {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=app.css.map */